
*{
    padding: 0px;
    margin:2px;
  }
  
  
  #photo{
    width: 100px; 
    height: 30px;
    margin-top : 0px;  
  }
  .midle-bar{
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: -30px;
    margin-bottom: 10px;
    width: 50%;
    position: absolute;
    
  }
  /* #searche{
    display: block;
    margin-left: 820px;
    margin-right: 100px;
    margin-top: -35px;
    margin-bottom: 0px;
    width: 3.5%;
    position: absolute; */
  
  #Menu{
    display: block;
    margin-left: 201px;
    margin-right: 0px;
    margin-top: px;
    margin-bottom: 0px;
    width: 10%;
    position: absolute;

  }
  