
*{
    padding: 0px;
    margin:2px;
    background-color: rgb(241, 239, 234);
    
  }
  .left-bar{
    width: 60px; 
    height: 30px;
  }
  
   #photo{
    width: 60px; 
    height: 20px;
    margin-left: 30px;
    margin-top :-70px;
    margin-bottom:20px;
  } 

  .midle-bar{
    display: inline-flex;
    left: 30% ;
    top: 0%;
    width: 90px;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 120px;
    margin-right: 120px;
  
  }
  .material-symbols-outlined{
    color: rgb(59, 159, 241);
    font-size: 20%;
  }
  .material-symbols-sharp{
    font-size: 20%;
    color: rgb(59, 159, 241);
    width: 100px;
    height: 20px;

  }

  .right-bar{
    display: flexbox;
    right: 0% ;
    top: 0%;
    width: 150px;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    

  }
  .material-symbols-rounded{
    font-size: x-large;
    color: rgb(59, 159, 241);
  }
  #photo2{
    height: 30px;
    margin-left: 0px;
    margin-top :0px;
    margin-bottom:0px;
  }
  #photo3{

    height: 70px;
    margin-left: 0px;
    margin-top :0px;
    margin-bottom:0px;
  }